In [1]:
import pandas as pd
import numpy as np

In [2]:
chronos_base_path = "results/chronos/chronos_bolt_base_results.csv"
chronos_small_path = "results/chronos/chronos_bolt_small_results.csv"
chronos_mini_path = "results/chronos/chronos_bolt_mini_results.csv"
chronos_tiny_path = "results/chronos/chronos_bolt_tiny_results.csv"

timesfm1_path = "results/timesfm/timesfm1_results.csv"
timesfm2_path = "results/timesfm/timesfm2_results.csv"

moirai_small_path = "results/moirai/moirai_small_results.csv"
moirai_base_path = "results/moirai/moirai_base_results.csv"
moirai_large_path = "results/moirai/moirai_large_results.csv"

moirai_moe_small_path = "results/moirai/moirai_moe_small_results.csv"

In [3]:
def path_to_df(path):
    df = pd.read_csv(path)
    df = df[["dataset", "domain", "num_variates", "model",
        "eval_metrics/MASE[0.5]", "eval_metrics/mean_weighted_sum_quantile_loss"]]
    df = df.rename(columns={"eval_metrics/MASE[0.5]": "MASE"})
    df = df.rename(columns={"eval_metrics/mean_weighted_sum_quantile_loss": "Qloss"})
    return df

In [4]:
chronos_base_df = path_to_df(chronos_base_path)
chronos_base_df.head()

,dataset,domain,num_variates,model,MASE,Qloss
0,bizitobs_application/10S/short,Web/CloudOps,2,chronos_bolt_base,5.533290,0.053958
1,bizitobs_application/10S/medium,Web/CloudOps,2,chronos_bolt_base,9.720338,0.103502
2,bizitobs_application/10S/long,Web/CloudOps,2,chronos_bolt_base,10.483795,0.108976
3,bizitobs_l2c/5T/short,Web/CloudOps,7,chronos_bolt_base,0.278185,0.074353
4,bizitobs_l2c/5T/medium,Web/CloudOps,7,chronos_bolt_base,0.877710,0.445441

In [5]:
chronos_small_df = path_to_df(chronos_small_path)
chronos_mini_df = path_to_df(chronos_mini_path)
chronos_tiny_df = path_to_df(chronos_tiny_path)

timesfm1_df = path_to_df(timesfm1_path)
timesfm2_df = path_to_df(timesfm2_path)

In [6]:
moirai_small_df = path_to_df(moirai_small_path)
moirai_base_df = path_to_df(moirai_base_path)
moirai_large_df = path_to_df(moirai_large_path)

moirai_moe_small_df = path_to_df(moirai_moe_small_path)

In [ ]:
# dataset with Mase
all_df = pd.concat([chronos_base_df, chronos_small_df, chronos_mini_df, chronos_tiny_df,
    timesfm1_df, timesfm2_df,moirai_small_df, moirai_base_df, moirai_large_df, moirai_moe_small_df], ignore_index=True)

all_df["MASE"] = pd.to_numeric(all_df["MASE"], errors="coerce")
all_df["rank_MASE"] = all_df.groupby(["dataset"])["MASE"].rank(method="min")

all_df["Qloss"] = pd.to_numeric(all_df["Qloss"], errors="coerce")
all_df["rank_Qloss"] = all_df.groupby(["dataset"])["Qloss"].rank(method="min")

all_df["Rank"] = (all_df["rank_MASE"] + all_df["rank_Qloss"]) / 2

all_df = all_df[all_df["dataset"] != "dataset"]

all_df

,dataset,domain,num_variates,model,MASE,Qloss,rank_MASE,rank_Qloss,Rank
0,bizitobs_application/10S/short,Web/CloudOps,2,chronos_bolt_base,5.533290,0.053958,6.0,6.0,9.0
1,bizitobs_application/10S/medium,Web/CloudOps,2,chronos_bolt_base,9.720338,0.103502,4.0,5.0,6.5
2,bizitobs_application/10S/long,Web/CloudOps,2,chronos_bolt_base,10.483795,0.108976,4.0,5.0,6.5
3,bizitobs_l2c/5T/short,Web/CloudOps,7,chronos_bolt_base,0.278185,0.074353,3.0,3.0,4.5
4,bizitobs_l2c/5T/medium,Web/CloudOps,7,chronos_bolt_base,0.877710,0.445441,3.0,5.0,5.5
...,...,...,...,...,...,...,...,...,...
330,bitbrains_rnd/5T/long,Web/CloudOps,2,moirai_moe_small,5.337856,1.329451,9.0,9.0,13.5
331,bitbrains_rnd/H/short,Web/CloudOps,2,moirai_moe_small,8.006383,1.423586,9.0,9.0,13.5
332,bitbrains_fast_storage/H/short,Web/CloudOps,2,morai_moe_small,2.445522,1.636269,9.0,9.0,13.5
333,bitbrains_fast_storage/5T/short,Web/CloudOps,2,moirai_moe_small,1.591381,1.046317,9.0,9.0,13.5
334,bitbrains_fast_storage/5T/medium,Web/CloudOps,2,moirai_moe_small,1.997107,1.305181,9.0,9.0,13.5

In [8]:
all_df[all_df["dataset"] == "bizitobs_application/10S/short"]

,dataset,domain,num_variates,model,MASE,Qloss,rank_MASE,rank_Qloss,Rank
0,bizitobs_application/10S/short,Web/CloudOps,2,chronos_bolt_base,5.533290,0.053958,6.0,6.0,9.0
35,bizitobs_application/10S/short,Web/CloudOps,2,chronos_bolt_small,5.406632,0.034530,5.0,3.0,6.5
102,bizitobs_application/10S/short,Web/CloudOps,2,chronos_bolt_mini,7.201342,0.072335,7.0,8.0,11.0
113,bizitobs_application/10S/short,Web/CloudOps,2,chronos_bolt_tiny,7.547395,0.069873,8.0,7.0,11.5
153,bizitobs_application/10S/short,Web/CloudOps,2,timesfm1,1391.842484,28.269510,9.0,9.0,13.5
188,bizitobs_application/10S/short,Web/CloudOps,2,timesfm2,1.560993,0.014470,1.0,1.0,1.5
242,bizitobs_application/10S/short,Web/CloudOps,2,morai_small,4.151204,0.050196,3.0,5.0,5.5
254,bizitobs_application/10S/short,Web/CloudOps,2,morai_base,5.326189,0.029959,4.0,2.0,5.0
312,bizitobs_application/10S/short,Web/CloudOps,2,morai_large,4.035421,0.036407,2.0,4.0,4.0

In [9]:
dataset_names = all_df["dataset"].unique()

In [10]:
dataset_names

array(['bizitobs_application/10S/short',
       'bizitobs_application/10S/medium', 'bizitobs_application/10S/long',
       'bizitobs_l2c/5T/short', 'bizitobs_l2c/5T/medium',
       'bizitobs_l2c/5T/long', 'jena_weather/10T/short',
       'jena_weather/10T/medium', 'jena_weather/10T/long',
       'bizitobs_service/10S/short', 'bizitobs_service/10S/medium',
       'bizitobs_service/10S/long', 'bizitobs_l2c/H/short',
       'bizitobs_l2c/H/medium', 'bizitobs_l2c/H/long', 'solar/D/short',
       'bitbrains_fast_storage/5T/short',
       'bitbrains_fast_storage/5T/medium',
       'bitbrains_fast_storage/5T/long', 'bitbrains_rnd/H/short',
       'bitbrains_fast_storage/H/short', 'bitbrains_rnd/5T/short',
       'bitbrains_rnd/5T/medium', 'bitbrains_rnd/5T/long',
       'jena_weather/H/short', 'jena_weather/H/medium',
       'jena_weather/H/long', 'solar/W/short', 'jena_weather/D/short',
       'solar/H/short', 'solar/H/medium', 'solar/H/long',
       'solar/10T/short', 'solar/10T/medium', 'solar/10T/long'],
      dtype=object)

In [11]:
for name in dataset_names:
    #print(name)
    #print(all_df[all_df["dataset"] == name].to_latex(index=False, float_format="%.3f"))
    print(all_df[all_df["dataset"] == name][["model", "MASE", "rank_MASE", "Qloss", "rank_Qloss"]])
    print("\n")
    break

                  model         MASE  rank_MASE      Qloss  rank_Qloss
0     chronos_bolt_base     5.533290        6.0   0.053958         6.0
35   chronos_bolt_small     5.406632        5.0   0.034530         3.0
102   chronos_bolt_mini     7.201342        7.0   0.072335         8.0
113   chronos_bolt_tiny     7.547395        8.0   0.069873         7.0
153            timesfm1  1391.842484        9.0  28.269510         9.0
188            timesfm2     1.560993        1.0   0.014470         1.0
242         morai_small     4.151204        3.0   0.050196         5.0
254          morai_base     5.326189        4.0   0.029959         2.0
312         morai_large     4.035421        2.0   0.036407         4.0

In [12]:
# new dataframe columns: "Chronos Bolt Base" "Chronos Bolt Small" "Chronos Bolt Mini" "Chronos Bolt Tiny" "TimesFM1" "TimesFM2"
# row: for each dataset name: 4 column (MASE, Qloss, rank_MASE, rank_Qloss, mean(rank_MASE, rank_Qloss))

def create_dataset_df(df, dataset_name):
    dataset_df = df[df["dataset"] == dataset_name]
    dataset_df = dataset_df.drop(columns=["dataset", "domain", "num_variates", "rank_MASE", "rank_Qloss"])
    dataset_df = dataset_df.rename(columns={"model": "Metric"})
    dataset_df = dataset_df.set_index("Metric")
    dataset_df = dataset_df.transpose()
    dataset_df = dataset_df.rename(columns={"chronos_bolt_base": "Chr.B.B",
                                            "chronos_bolt_small": "Chr.B.S",
                                            "chronos_bolt_mini": "Chr.B.M",
                                            "chronos-bolt-mini": "Chr.B.M",
                                            "chronos_bolt_tiny": "Chr.B.T",
                                            "timesfm1": "T.FM1",
                                            "timesfm2": "T.FM2",
                                            "morai_small": "Moi.S",
                                            "morai_base": "Moi.B",
                                            "morai_large": "Moi.L",
                                            "morai_moe_small": "Moi.M.S",
                                            })
    dataset_df["Best"] = dataset_df.idxmin(axis=1) # add columns best
    return dataset_df

create_dataset_df(all_df, "bizitobs_application/10S/short")

Metric,Chr.B.B,Chr.B.S,Chr.B.M,Chr.B.T,T.FM1,T.FM2,Moi.S,Moi.B,Moi.L,Best
MASE,5.533290,5.406632,7.201342,7.547395,1391.842484,1.560993,4.151204,5.326189,4.035421,T.FM2
Qloss,0.053958,0.034530,0.072335,0.069873,28.269510,0.014470,0.050196,0.029959,0.036407,T.FM2
Rank,9.000000,6.500000,11.000000,11.500000,13.500000,1.500000,5.500000,5.000000,4.000000,T.FM2

In [13]:
final_df = pd.DataFrame()

for name in dataset_names:
    dataset_df = create_dataset_df(all_df, name)
    dataset_df["dataset, frequency, term"] = name.replace("/", ", ")

    dataset_df = dataset_df.reset_index()
    if "Moi.M.S" not in dataset_df.columns:
        dataset_df["Moi.M.S"] = None
    dataset_df = dataset_df[["dataset, frequency, term", "index", "Chr.B.B", "Chr.B.S", "Chr.B.M",
        "Chr.B.T", "T.FM1", "T.FM2", "Moi.S", "Moi.B", "Moi.L", "Moi.M.S", "Best"]]
    dataset_df = dataset_df.rename(columns={"index": "Metric"})
    dataset_df = dataset_df.rename_axis(index=" ")

    final_df = pd.concat([final_df, dataset_df], ignore_index=True)

C:\Users\giuli\AppData\Local\Temp\ipykernel_41724\2479983295.py:15: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, dataset_df], ignore_index=True)
C:\Users\giuli\AppData\Local\Temp\ipykernel_41724\2479983295.py:15: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, dataset_df], ignore_index=True)
C:\Users\giuli\AppData\Local\Temp\ipykernel_41724\2479983295.py:15: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, dataset_df], ignore_index=True)
C:\Users\giuli\AppData\Local\Temp\ipykernel_41724\2479983295.py:15: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, dataset_df], ignore_index=True)
C:\Users\giuli\AppData\Local\Temp\ipykernel_41724\2479983295.py:15: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, dataset_df], ignore_index=True)
C:\Users\giuli\AppData\Local\Temp\ipykernel_41724\2479983295.py:15: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, dataset_df], ignore_index=True)
C:\Users\giuli\AppData\Local\Temp\ipykernel_41724\2479983295.py:15: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, dataset_df], ignore_index=True)
C:\Users\giuli\AppData\Local\Temp\ipykernel_41724\2479983295.py:15: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, dataset_df], ignore_index=True)
C:\Users\giuli\AppData\Local\Temp\ipykernel_41724\2479983295.py:15: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, dataset_df], ignore_index=True)
C:\Users\giuli\AppData\Local\Temp\ipykernel_41724\2479983295.py:15: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, dataset_df], ignore_index=True)
C:\Users\giuli\AppData\Local\Temp\ipykernel_41724\2479983295.py:15: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, dataset_df], ignore_index=True)
C:\Users\giuli\AppData\Local\Temp\ipykernel_41724\2479983295.py:15: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, dataset_df], ignore_index=True)
C:\Users\giuli\AppData\Local\Temp\ipykernel_41724\2479983295.py:15: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, dataset_df], ignore_index=True)
C:\Users\giuli\AppData\Local\Temp\ipykernel_41724\2479983295.py:15: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, dataset_df], ignore_index=True)
C:\Users\giuli\AppData\Local\Temp\ipykernel_41724\2479983295.py:15: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, dataset_df], ignore_index=True)
C:\Users\giuli\AppData\Local\Temp\ipykernel_41724\2479983295.py:15: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, dataset_df], ignore_index=True)
C:\Users\giuli\AppData\Local\Temp\ipykernel_41724\2479983295.py:15: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, dataset_df], ignore_index=True)
C:\Users\giuli\AppData\Local\Temp\ipykernel_41724\2479983295.py:15: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, dataset_df], ignore_index=True)
C:\Users\giuli\AppData\Local\Temp\ipykernel_41724\2479983295.py:15: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, dataset_df], ignore_index=True)
C:\Users\giuli\AppData\Local\Temp\ipykernel_41724\2479983295.py:15: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, dataset_df], ignore_index=True)
C:\Users\giuli\AppData\Local\Temp\ipykernel_41724\2479983295.py:15: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, dataset_df], ignore_index=True)
C:\Users\giuli\AppData\Local\Temp\ipykernel_41724\2479983295.py:15: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, dataset_df], ignore_index=True)
C:\Users\giuli\AppData\Local\Temp\ipykernel_41724\2479983295.py:15: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, dataset_df], ignore_index=True)
C:\Users\giuli\AppData\Local\Temp\ipykernel_41724\2479983295.py:15: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, dataset_df], ignore_index=True)
C:\Users\giuli\AppData\Local\Temp\ipykernel_41724\2479983295.py:15: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, dataset_df], ignore_index=True)
C:\Users\giuli\AppData\Local\Temp\ipykernel_41724\2479983295.py:15: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, dataset_df], ignore_index=True)
C:\Users\giuli\AppData\Local\Temp\ipykernel_41724\2479983295.py:15: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, dataset_df], ignore_index=True)

In [14]:
final_df

Metric,"dataset, frequency, term",Metric,Chr.B.B,Chr.B.S,Chr.B.M,Chr.B.T,T.FM1,T.FM2,Moi.S,Moi.B,Moi.L,Moi.M.S,Best
0,"bizitobs_application, 10S, short",MASE,5.533290,5.406632,7.201342,7.547395,1391.842484,1.560993,4.151204,5.326189,4.035421,NaN,T.FM2
1,"bizitobs_application, 10S, short",Qloss,0.053958,0.034530,0.072335,0.069873,28.269510,0.014470,0.050196,0.029959,0.036407,NaN,T.FM2
2,"bizitobs_application, 10S, short",Rank,9.000000,6.500000,11.000000,11.500000,13.500000,1.500000,5.500000,5.000000,4.000000,NaN,T.FM2
3,"bizitobs_application, 10S, medium",MASE,9.720338,9.146529,10.972406,11.416669,1199.144679,3.070241,8.223821,13.003425,11.334245,NaN,T.FM2
4,"bizitobs_application, 10S, medium",Qloss,0.103502,0.084756,0.128187,0.115304,30.441737,0.032932,0.096943,0.076633,0.130132,NaN,T.FM2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,"solar, 10T, medium",Qloss,0.436094,0.452678,0.410149,0.494811,1120.471306,0.515808,0.955178,0.891592,0.918294,NaN,Chr.B.M
101,"solar, 10T, medium",Rank,3.000000,4.500000,1.500000,6.000000,15.000000,7.500000,12.000000,9.000000,10.500000,NaN,Chr.B.M
102,"solar, 10T, long",MASE,1.070707,1.188044,1.215812,1.288399,5320.462733,1.148564,2.030935,2.027140,2.088998,NaN,Chr.B.B
103,"solar, 10T, long",Qloss,0.443021,0.496991,0.496322,0.534036,2088.004010,0.498298,0.892758,0.929637,0.913536,NaN,Chr.B.B
104,"solar, 10T, long",Rank,1.500000,4.500000,5.000000,7.500000,15.000000,4.000000,10.000000,10.000000,11.500000,NaN,Chr.B.B

In [15]:
final_df.to_csv("results/all_results.csv", index=False)

In [17]:
final_df = final_df.sort_values(by='dataset, frequency, term')  # crescente

In [18]:
print(final_df.to_latex(index=False, float_format="%.3f"))

\begin{tabular}{llrrrrrrrrrrl}
\toprule
dataset, frequency, term & Metric & Chr.B.B & Chr.B.S & Chr.B.M & Chr.B.T & T.FM1 & T.FM2 & Moi.S & Moi.B & Moi.L & Moi.M.S & Best \\
\midrule
bitbrains_fast_storage, 5T, long & MASE & 0.938 & 0.953 & 0.967 & 0.994 & 403.898 & 0.980 & 1.028 & 1.001 & 0.982 & NaN & Chr.B.B \\
bitbrains_fast_storage, 5T, long & Qloss & 0.748 & 0.753 & 0.749 & 0.750 & 164.589 & 0.909 & 0.690 & 0.733 & 0.780 & NaN & Moi.S \\
bitbrains_fast_storage, 5T, long & Rank & 2.500 & 5.000 & 5.000 & 8.500 & 13.500 & 8.000 & 8.500 & 8.000 & 8.500 & NaN & Chr.B.B \\
bitbrains_fast_storage, 5T, medium & Qloss & 0.755 & 0.867 & 0.828 & 0.814 & 189.791 & 0.886 & 0.647 & 0.628 & 0.701 & NaN & Moi.B \\
bitbrains_fast_storage, 5T, medium & MASE & 1.048 & 1.060 & 1.070 & 1.115 & 273.811 & 1.075 & 1.137 & 1.079 & 1.070 & NaN & Chr.B.B \\
bitbrains_fast_storage, 5T, medium & Rank & 3.000 & 5.500 & 7.000 & 9.500 & 15.000 & 9.000 & 9.000 & 6.500 & 4.500 & NaN & Chr.B.B \\
bitbrains_fast_storage, 5T, short & Rank & 5.500 & 5.500 & 7.000 & 8.500 & 15.000 & 4.000 & 11.000 & 7.000 & 5.500 & NaN & T.FM2 \\
bitbrains_fast_storage, 5T, short & Qloss & 0.454 & 0.435 & 0.434 & 0.420 & 131.061 & 0.447 & 0.483 & 0.431 & 0.434 & NaN & Chr.B.T \\
bitbrains_fast_storage, 5T, short & MASE & 0.745 & 0.770 & 0.808 & 0.864 & 293.558 & 0.731 & 0.851 & 0.819 & 0.774 & NaN & T.FM2 \\
bitbrains_fast_storage, H, short & MASE & 1.070 & 1.080 & 1.105 & 1.150 & 156.838 & 1.095 & 1.271 & 1.187 & 1.130 & 2.446 & Chr.B.B \\
bitbrains_fast_storage, H, short & Rank & 5.000 & 2.500 & 5.500 & 7.000 & 15.000 & 6.500 & 10.500 & 9.000 & 8.000 & 13.500 & Chr.B.S \\
bitbrains_fast_storage, H, short & Qloss & 0.774 & 0.589 & 0.596 & 0.593 & 47.147 & 0.689 & 0.650 & 0.642 & 0.685 & 1.636 & Chr.B.S \\
bitbrains_rnd, 5T, long & MASE & 3.397 & 3.413 & 3.443 & 3.488 & 393.744 & 3.604 & 3.621 & 3.465 & 3.440 & NaN & Chr.B.B \\
bitbrains_rnd, 5T, long & Rank & 4.000 & 5.500 & 6.500 & 10.000 & 15.000 & 8.500 & 10.000 & 5.500 & 4.000 & NaN & Chr.B.B \\
bitbrains_rnd, 5T, long & Qloss & 0.756 & 0.756 & 0.750 & 0.917 & 178.114 & 0.714 & 0.730 & 0.678 & 0.702 & NaN & Moi.B \\
bitbrains_rnd, 5T, medium & Rank & 2.500 & 6.000 & 6.000 & 7.500 & 15.000 & 10.500 & 8.500 & 7.000 & 6.000 & NaN & Chr.B.B \\
bitbrains_rnd, 5T, medium & Qloss & 0.605 & 0.792 & 0.716 & 0.697 & 139.018 & 0.736 & 0.589 & 0.591 & 0.612 & NaN & Moi.S \\
bitbrains_rnd, 5T, medium & MASE & 4.449 & 4.474 & 4.492 & 4.519 & 437.821 & 4.596 & 4.676 & 4.520 & 4.496 & NaN & Chr.B.B \\
bitbrains_rnd, 5T, short & Qloss & 0.438 & 0.453 & 0.475 & 0.482 & 83.292 & 0.463 & 0.534 & 0.462 & 0.444 & 1.034 & Chr.B.B \\
bitbrains_rnd, 5T, short & Rank & 1.500 & 3.500 & 6.000 & 7.500 & 15.000 & 8.500 & 12.000 & 9.000 & 6.000 & 13.500 & Chr.B.B \\
bitbrains_rnd, 5T, short & MASE & 1.705 & 1.720 & 1.740 & 1.755 & 208.669 & 1.769 & 1.923 & 1.796 & 1.761 & 2.941 & Chr.B.B \\
bitbrains_rnd, H, short & Qloss & 0.624 & 0.623 & 0.585 & 0.604 & 473.143 & 0.649 & 0.684 & 0.603 & 0.584 & NaN & Moi.L \\
bitbrains_rnd, H, short & MASE & 5.897 & 5.880 & 5.882 & 5.951 & 364.946 & 5.987 & 6.220 & 6.099 & 5.972 & NaN & Chr.B.S \\
bitbrains_rnd, H, short & Rank & 6.000 & 3.500 & 3.000 & 6.000 & 15.000 & 9.500 & 12.000 & 8.500 & 5.500 & NaN & Chr.B.M \\
bizitobs_application, 10S, long & Rank & 6.500 & 4.000 & 10.000 & 10.500 & 13.500 & 1.500 & 3.500 & 10.000 & 8.000 & NaN & T.FM2 \\
bizitobs_application, 10S, long & MASE & 10.484 & 9.648 & 12.444 & 12.835 & 148.467 & 4.085 & 8.631 & 13.388 & 12.032 & NaN & T.FM2 \\
bizitobs_application, 10S, long & Qloss & 0.109 & 0.092 & 0.150 & 0.137 & 0.500 & 0.057 & 0.096 & 0.100 & 0.137 & NaN & T.FM2 \\
bizitobs_application, 10S, medium & Rank & 6.500 & 4.500 & 8.500 & 10.000 & 13.500 & 1.500 & 4.000 & 9.000 & 10.000 & NaN & T.FM2 \\
bizitobs_application, 10S, medium & Qloss & 0.104 & 0.085 & 0.128 & 0.115 & 30.442 & 0.033 & 0.097 & 0.077 & 0.130 & NaN & T.FM2 \\
bizitobs_application, 10S, medium & MASE & 9.720 & 9.147 & 10.972 & 11.417 & 1199.145 & 3.070 & 8.224 & 13.003 & 11.334 & NaN & T.FM2 \\
bizitobs_application, 10S, short & MASE & 5.533 & 5.407 & 7.201 & 7.547 & 1391.842 & 1.561 & 4.151 & 5.326 & 4.035 & NaN & T.FM2 \\
bizitobs_application, 10S, short & Qloss & 0.054 & 0.035 & 0.072 & 0.070 & 28.270 & 0.014 & 0.050 & 0.030 & 0.036 & NaN & T.FM2 \\
bizitobs_application, 10S, short & Rank & 9.000 & 6.500 & 11.000 & 11.500 & 13.500 & 1.500 & 5.500 & 5.000 & 4.000 & NaN & T.FM2 \\
bizitobs_l2c, 5T, long & Rank & 6.500 & 12.000 & 10.500 & 7.000 & 15.000 & 6.000 & 7.500 & 3.000 & 1.500 & NaN & Moi.L \\
bizitobs_l2c, 5T, long & MASE & 1.241 & 1.357 & 1.330 & 1.258 & 1250.171 & 1.236 & 1.271 & 1.202 & 1.189 & NaN & Moi.L \\
bizitobs_l2c, 5T, long & Qloss & 0.738 & 0.790 & 0.775 & 0.722 & 633.187 & 0.748 & 0.619 & 0.610 & 0.574 & NaN & Moi.L \\
bizitobs_l2c, 5T, medium & Rank & 5.500 & 9.500 & 7.000 & 2.500 & 15.000 & 12.000 & 5.500 & 3.000 & 9.000 & NaN & Chr.B.T \\
bizitobs_l2c, 5T, medium & Qloss & 0.445 & 0.462 & 0.451 & 0.420 & 432.168 & 0.528 & 0.392 & 0.398 & 0.423 & NaN & Moi.S \\
bizitobs_l2c, 5T, medium & MASE & 0.878 & 0.920 & 0.886 & 0.840 & 891.926 & 1.023 & 0.906 & 0.865 & 0.992 & NaN & Chr.B.T \\
bizitobs_l2c, 5T, short & Qloss & 0.074 & 0.073 & 0.073 & 0.075 & 14.173 & 0.084 & 0.085 & 0.080 & 0.082 & 0.337 & Chr.B.M \\
bizitobs_l2c, 5T, short & MASE & 0.278 & 0.272 & 0.274 & 0.284 & 36.429 & 0.312 & 0.309 & 0.288 & 0.291 & 1.231 & Chr.B.S \\
bizitobs_l2c, 5T, short & Rank & 4.500 & 2.000 & 2.500 & 6.000 & 15.000 & 11.500 & 11.000 & 7.500 & 9.000 & 13.500 & Chr.B.S \\
bizitobs_l2c, H, long & Qloss & 0.278 & 0.295 & 0.296 & 0.306 & 1082.585 & 0.728 & 0.576 & 0.598 & 0.626 & NaN & Chr.B.B \\
bizitobs_l2c, H, long & Rank & 1.500 & 5.000 & 4.500 & 4.000 & 15.000 & 13.500 & 7.500 & 9.000 & 11.500 & NaN & Chr.B.B \\
bizitobs_l2c, H, long & MASE & 0.556 & 0.612 & 0.611 & 0.606 & 2042.632 & 1.299 & 1.213 & 1.216 & 1.282 & NaN & Chr.B.B \\
bizitobs_l2c, H, medium & Qloss & 0.254 & 0.285 & 0.266 & 0.304 & 54.232 & 0.641 & 0.569 & 0.779 & 0.639 & NaN & Chr.B.B \\
bizitobs_l2c, H, medium & MASE & 0.495 & 0.570 & 0.521 & 0.600 & 97.963 & 1.184 & 1.182 & 1.428 & 1.248 & NaN & Chr.B.B \\
bizitobs_l2c, H, medium & Rank & 1.500 & 4.500 & 3.000 & 6.000 & 15.000 & 9.500 & 7.500 & 13.500 & 11.000 & NaN & Chr.B.B \\
bizitobs_l2c, H, short & Rank & 1.500 & 4.500 & 6.000 & 3.000 & 15.000 & 7.500 & 9.000 & 11.000 & 12.500 & 12.500 & Chr.B.B \\
bizitobs_l2c, H, short & Qloss & 0.189 & 0.204 & 0.208 & 0.203 & 258.594 & 0.345 & 0.419 & 0.554 & 0.554 & 0.530 & Chr.B.B \\
bizitobs_l2c, H, short & MASE & 0.432 & 0.485 & 0.495 & 0.473 & 484.719 & 0.782 & 0.913 & 1.101 & 1.140 & 1.144 & Chr.B.B \\
bizitobs_service, 10S, long & Rank & 6.500 & 4.000 & 11.000 & 11.500 & 13.500 & 1.500 & 3.500 & 7.000 & 9.000 & NaN & T.FM2 \\
bizitobs_service, 10S, long & Qloss & 0.112 & 0.095 & 0.144 & 0.133 & 24.138 & 0.062 & 0.097 & 0.105 & 0.128 & NaN & T.FM2 \\
bizitobs_service, 10S, long & MASE & 5.280 & 4.824 & 6.522 & 6.600 & 853.987 & 2.197 & 4.248 & 5.483 & 5.524 & NaN & T.FM2 \\
bizitobs_service, 10S, medium & MASE & 4.958 & 4.618 & 5.850 & 5.972 & 2338.311 & 1.526 & 4.266 & 5.177 & 5.944 & NaN & T.FM2 \\
bizitobs_service, 10S, medium & Qloss & 0.095 & 0.081 & 0.119 & 0.113 & 36.344 & 0.038 & 0.088 & 0.078 & 0.111 & NaN & T.FM2 \\
bizitobs_service, 10S, medium & Rank & 6.500 & 4.500 & 10.000 & 11.500 & 13.500 & 1.500 & 4.000 & 6.000 & 10.000 & NaN & T.FM2 \\
bizitobs_service, 10S, short & Rank & 9.000 & 6.000 & 11.000 & 11.500 & 13.500 & 1.500 & 6.500 & 4.500 & 4.000 & NaN & T.FM2 \\
bizitobs_service, 10S, short & Qloss & 0.050 & 0.031 & 0.065 & 0.065 & 23.075 & 0.015 & 0.043 & 0.033 & 0.038 & NaN & T.FM2 \\
bizitobs_service, 10S, short & MASE & 3.299 & 2.871 & 3.955 & 4.186 & 2192.263 & 1.035 & 2.764 & 2.653 & 2.484 & NaN & T.FM2 \\
jena_weather, 10T, long & Rank & 4.000 & 5.500 & 4.000 & 9.000 & 13.500 & 1.500 & 7.500 & 11.500 & 11.000 & NaN & T.FM2 \\
jena_weather, 10T, long & MASE & 0.657 & 0.703 & 0.682 & 0.729 & 174.226 & 0.231 & 0.707 & 0.783 & 0.731 & NaN & T.FM2 \\
jena_weather, 10T, long & Qloss & 0.064 & 0.063 & 0.061 & 0.079 & 31.855 & 0.035 & 0.071 & 0.083 & 0.085 & NaN & T.FM2 \\
jena_weather, 10T, medium & Rank & 3.000 & 5.500 & 5.000 & 7.500 & 13.500 & 1.500 & 9.000 & 11.500 & 11.000 & NaN & T.FM2 \\
jena_weather, 10T, medium & Qloss & 0.057 & 0.060 & 0.061 & 0.068 & 27.163 & 0.031 & 0.070 & 0.078 & 0.085 & NaN & T.FM2 \\
jena_weather, 10T, medium & MASE & 0.610 & 0.646 & 0.635 & 0.667 & 135.438 & 0.190 & 0.689 & 0.738 & 0.730 & NaN & T.FM2 \\
jena_weather, 10T, short & MASE & 0.306 & 0.320 & 0.308 & 0.327 & 130.486 & 0.090 & 0.370 & 0.359 & 0.351 & NaN & T.FM2 \\
jena_weather, 10T, short & Qloss & 0.033 & 0.037 & 0.036 & 0.042 & 27.646 & 0.015 & 0.057 & 0.055 & 0.051 & NaN & T.FM2 \\
jena_weather, 10T, short & Rank & 3.000 & 6.000 & 4.500 & 7.500 & 13.500 & 1.500 & 12.000 & 10.500 & 9.000 & NaN & T.FM2 \\
jena_weather, D, short & Rank & 4.500 & 3.500 & 5.000 & 2.000 & 13.500 & 10.000 & 10.000 & 7.500 & 11.500 & NaN & Chr.B.T \\
jena_weather, D, short & Qloss & 0.045 & 0.047 & 0.047 & 0.047 & 10.015 & 0.058 & 0.053 & 0.051 & 0.054 & NaN & Chr.B.B \\
jena_weather, D, short & MASE & 1.051 & 1.028 & 1.034 & 1.024 & 97.927 & 1.243 & 1.282 & 1.159 & 1.296 & NaN & Chr.B.T \\
jena_weather, H, long & Qloss & 0.062 & 0.068 & 0.067 & 0.066 & 24.919 & 0.068 & 0.064 & 0.071 & 0.066 & NaN & Chr.B.B \\
jena_weather, H, long & MASE & 1.028 & 1.060 & 1.063 & 1.112 & 390.758 & 1.057 & 1.082 & 1.115 & 1.056 & NaN & Chr.B.B \\
jena_weather, H, long & Rank & 1.500 & 7.000 & 7.500 & 8.500 & 13.500 & 6.500 & 7.000 & 12.000 & 4.000 & NaN & Chr.B.B \\
jena_weather, H, medium & MASE & 0.747 & 0.721 & 0.729 & 0.789 & 185.596 & 0.864 & 0.933 & 0.967 & 0.935 & NaN & Chr.B.S \\
jena_weather, H, medium & Qloss & 0.054 & 0.058 & 0.059 & 0.058 & 16.609 & 0.066 & 0.061 & 0.062 & 0.057 & NaN & Chr.B.B \\
jena_weather, H, medium & Rank & 3.500 & 3.000 & 4.500 & 5.500 & 13.500 & 9.000 & 9.000 & 11.500 & 8.000 & NaN & Chr.B.S \\
jena_weather, H, short & Qloss & 0.042 & 0.043 & 0.042 & 0.042 & 10.617 & 0.045 & 0.053 & 0.045 & 0.045 & NaN & Chr.B.B \\
jena_weather, H, short & MASE & 0.536 & 0.540 & 0.548 & 0.549 & 226.170 & 0.525 & 0.588 & 0.575 & 0.592 & NaN & T.FM2 \\
jena_weather, H, short & Rank & 2.500 & 5.000 & 5.500 & 6.000 & 13.500 & 4.500 & 11.000 & 9.000 & 10.500 & NaN & Chr.B.B \\
solar, 10T, long & MASE & 1.071 & 1.188 & 1.216 & 1.288 & 5320.463 & 1.149 & 2.031 & 2.027 & 2.089 & NaN & Chr.B.B \\
solar, 10T, long & Qloss & 0.443 & 0.497 & 0.496 & 0.534 & 2088.004 & 0.498 & 0.893 & 0.930 & 0.914 & NaN & Chr.B.B \\
solar, 10T, long & Rank & 1.500 & 4.500 & 5.000 & 7.500 & 15.000 & 4.000 & 10.000 & 10.000 & 11.500 & NaN & Chr.B.B \\
solar, 10T, medium & Rank & 3.000 & 4.500 & 1.500 & 6.000 & 15.000 & 7.500 & 12.000 & 9.000 & 10.500 & NaN & Chr.B.M \\
solar, 10T, medium & Qloss & 0.436 & 0.453 & 0.410 & 0.495 & 1120.471 & 0.516 & 0.955 & 0.892 & 0.918 & NaN & Chr.B.M \\
solar, 10T, medium & MASE & 1.027 & 1.065 & 0.978 & 1.157 & 2771.306 & 1.169 & 2.297 & 1.927 & 2.129 & NaN & Chr.B.M \\
solar, 10T, short & Rank & 4.500 & 3.000 & 6.000 & 1.500 & 15.000 & 11.000 & 11.500 & 9.000 & 7.500 & 13.500 & Chr.B.T \\
solar, 10T, short & Qloss & 0.511 & 0.498 & 0.563 & 0.488 & 1727.726 & 0.804 & 0.797 & 0.646 & 0.621 & 1.451 & Chr.B.T \\
solar, 10T, short & MASE & 0.991 & 0.947 & 1.060 & 0.923 & 2959.781 & 1.477 & 1.531 & 1.176 & 1.144 & 2.515 & Chr.B.T \\
solar, D, short & Qloss & 0.287 & 0.286 & 0.279 & 0.282 & 1.248 & 0.278 & 0.307 & 0.294 & 0.306 & NaN & T.FM2 \\
solar, D, short & Rank & 5.500 & 7.000 & 3.000 & 5.500 & 13.500 & 1.500 & 12.000 & 10.000 & 9.500 & NaN & T.FM2 \\
solar, D, short & MASE & 0.982 & 0.995 & 0.981 & 0.993 & 4.354 & 0.971 & 1.090 & 1.061 & 1.029 & NaN & T.FM2 \\
solar, H, long & Rank & 7.000 & 5.000 & 3.000 & 1.500 & 15.000 & 12.000 & 10.500 & 8.500 & 6.500 & NaN & Chr.B.T \\
solar, H, long & Qloss & 0.405 & 0.373 & 0.370 & 0.354 & 47.880 & 0.493 & 0.441 & 0.396 & 0.373 & NaN & Chr.B.T \\
solar, H, long & MASE & 1.033 & 0.957 & 0.946 & 0.935 & 97.158 & 1.266 & 1.233 & 1.112 & 1.051 & NaN & Chr.B.T \\
solar, H, medium & Rank & 9.000 & 7.500 & 4.000 & 1.500 & 15.000 & 10.500 & 12.000 & 4.000 & 5.500 & NaN & Chr.B.T \\
solar, H, medium & Qloss & 0.368 & 0.356 & 0.352 & 0.342 & 10.359 & 0.376 & 0.424 & 0.347 & 0.350 & NaN & Chr.B.T \\
solar, H, medium & MASE & 0.931 & 0.926 & 0.906 & 0.903 & 24.755 & 0.959 & 1.142 & 0.911 & 0.924 & NaN & Chr.B.T \\
solar, H, short & Qloss & 0.298 & 0.303 & 0.311 & 0.313 & 4.876 & 0.407 & 0.404 & 0.354 & 0.338 & 1.368 & Chr.B.B \\
solar, H, short & MASE & 0.813 & 0.852 & 0.860 & 0.867 & 8.797 & 1.022 & 1.080 & 0.918 & 0.874 & 3.329 & Chr.B.B \\
solar, H, short & Rank & 1.500 & 3.000 & 4.500 & 6.000 & 15.000 & 11.000 & 11.500 & 9.000 & 7.500 & 13.500 & Chr.B.B \\
solar, W, short & MASE & 0.980 & 0.991 & 0.994 & 0.952 & 1.792 & 1.282 & 1.561 & 1.650 & 1.473 & NaN & Chr.B.T \\
solar, W, short & Qloss & 0.133 & 0.136 & 0.135 & 0.132 & 0.307 & 0.171 & 0.208 & 0.227 & 0.205 & NaN & Chr.B.T \\
solar, W, short & Rank & 3.000 & 5.000 & 5.500 & 1.500 & 13.500 & 7.500 & 10.500 & 12.000 & 9.000 & NaN & Chr.B.T \\
\bottomrule
\end{tabular}

### More Results

In [ ]:
import json

# read the json file
with open("results/data/domain_dict.json", "r") as f:
    domain_data = json.load(f)

domain_data

{'bitbrains_fast_storage': 'Web/CloudOps',
 'bitbrains_rnd': 'Web/CloudOps',
 'bizitobs_l2c': 'Web/CloudOps',
 'bizitobs_application': 'Web/CloudOps',
 'bizitobs_service': 'Web/CloudOps',
 'jena_weather': 'Weather',
 'solar': 'Energy'}

In [ ]:
final_df["Dataset"] = final_df["dataset, frequency, term"].apply(
    lambda x: x.split(", ")[0] if len(x.split(", ")) > 0 else "Unknown")
final_df["Domain"] = final_df["Dataset"].apply(lambda x: domain_data[x] if x in domain_data else "Unknown")
final_df["Term"] = final_df["dataset, frequency, term"].apply(
    lambda x: x.split(", ")[2] if len(x.split(", ")) > 2 else "Unknown")
final_df["Frequency"] = final_df["dataset, frequency, term"].apply(
    lambda x: x.split(", ")[1] if len(x.split(", ")) > 1 else "Unknown")

final_df = final_df[["Dataset", "Domain", "Term", "Frequency", "Metric",
    "Chr.B.B", "Chr.B.S", "Chr.B.M", "Chr.B.T", "T.FM1", "T.FM2",
    "Moi.S", "Moi.B", "Moi.L", "Moi.M.S", "Best"]]
final_df

Metric,Dataset,Domain,Term,Frequency,Metric,Chr.B.B,Chr.B.S,Chr.B.M,Chr.B.T,T.FM1,T.FM2,Moi.S,Moi.B,Moi.L,Moi.M.S,Best
0,bizitobs_application,Web/CloudOps,short,10S,MASE,5.533290,5.406632,7.201342,7.547395,1391.842484,1.560993,4.151204,5.326189,4.035421,NaN,T.FM2
1,bizitobs_application,Web/CloudOps,short,10S,Qloss,0.053958,0.034530,0.072335,0.069873,28.269510,0.014470,0.050196,0.029959,0.036407,NaN,T.FM2
2,bizitobs_application,Web/CloudOps,short,10S,Rank,9.000000,6.500000,11.000000,11.500000,13.500000,1.500000,5.500000,5.000000,4.000000,NaN,T.FM2
3,bizitobs_application,Web/CloudOps,medium,10S,MASE,9.720338,9.146529,10.972406,11.416669,1199.144679,3.070241,8.223821,13.003425,11.334245,NaN,T.FM2
4,bizitobs_application,Web/CloudOps,medium,10S,Qloss,0.103502,0.084756,0.128187,0.115304,30.441737,0.032932,0.096943,0.076633,0.130132,NaN,T.FM2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,solar,Energy,medium,10T,Qloss,0.436094,0.452678,0.410149,0.494811,1120.471306,0.515808,0.955178,0.891592,0.918294,NaN,Chr.B.M
101,solar,Energy,medium,10T,Rank,3.000000,4.500000,1.500000,6.000000,15.000000,7.500000,12.000000,9.000000,10.500000,NaN,Chr.B.M
102,solar,Energy,long,10T,MASE,1.070707,1.188044,1.215812,1.288399,5320.462733,1.148564,2.030935,2.027140,2.088998,NaN,Chr.B.B
103,solar,Energy,long,10T,Qloss,0.443021,0.496991,0.496322,0.534036,2088.004010,0.498298,0.892758,0.929637,0.913536,NaN,Chr.B.B
104,solar,Energy,long,10T,Rank,1.500000,4.500000,5.000000,7.500000,15.000000,4.000000,10.000000,10.000000,11.500000,NaN,Chr.B.B

In [ ]:
domain_results = final_df.groupby(["Domain", "Metric"]).agg({
    "Chr.B.B": "mean",
    "Chr.B.S": "mean",
    "Chr.B.M": "mean",
    "Chr.B.T": "mean",
    "T.FM1": "mean",
    "T.FM2": "mean",
    "Moi.S": "mean",
    "Moi.B": "mean",
    "Moi.L": "mean",
    "Moi.M.S": "mean",
}).reset_index()
domain_results["Best"] = domain_results[["Chr.B.B", "Chr.B.S", "Chr.B.M", "Chr.B.T", "T.FM1", "T.FM2",
    "Moi.S", "Moi.B", "Moi.L", "Moi.M.S",]].idxmin(axis=1)

domain_results

Metric,Domain,Metric,Chr.B.B,Chr.B.S,Chr.B.M,Chr.B.T,T.FM1,T.FM2,Moi.S,Moi.B,Moi.L,Moi.M.S,Best
0,Energy,MASE,0.978315,0.990242,0.992473,1.002300,1398.550826,1.161931,1.495519,1.347755,1.339294,2.921834,Chr.B.B
1,Energy,Qloss,0.360238,0.362762,0.364672,0.367498,625.108813,0.443007,0.553650,0.510727,0.503029,1.409325,Chr.B.B
2,Energy,Rank,4.375000,4.937500,4.062500,3.875000,14.625000,8.125000,11.250000,8.937500,8.437500,13.500000,Chr.B.T
3,Weather,MASE,0.704962,0.716802,0.714102,0.742491,191.514484,0.600010,0.807393,0.813602,0.812896,NaN,T.FM2
4,Weather,Qloss,0.050921,0.053554,0.053563,0.057388,21.260529,0.045489,0.061301,0.063447,0.063255,NaN,T.FM2
5,Weather,Rank,3.142857,5.071429,5.142857,6.571429,13.500000,4.928571,9.357143,10.500000,9.285714,NaN,Chr.B.B
6,Web/CloudOps,MASE,3.120157,3.004048,3.528463,3.622740,773.056968,1.957359,2.940183,3.554764,3.356095,1.940554,Moi.M.S
7,Web/CloudOps,Qloss,0.382827,0.389877,0.394053,0.397024,201.193159,0.439267,0.406953,0.410471,0.421029,0.884246,Chr.B.B
8,Web/CloudOps,Rank,4.750000,5.200000,7.050000,7.975000,14.475000,6.675000,7.825000,7.450000,7.375000,13.250000,Chr.B.B

In [ ]:
term_results = final_df.groupby(["Term", "Metric"]).agg({
    "Chr.B.B": "mean",
    "Chr.B.S": "mean",
    "Chr.B.M": "mean",
    "Chr.B.T": "mean",
    "T.FM1": "mean",
    "T.FM2": "mean",
    "Moi.S": "mean",
    "Moi.B": "mean",
    "Moi.L": "mean",
    "Moi.M.S": "mean",
}).reset_index()
term_results["Best"] = term_results[["Chr.B.B", "Chr.B.S", "Chr.B.M", "Chr.B.T", "T.FM1", "T.FM2",
    "Moi.S", "Moi.B", "Moi.L", "Moi.M.S",]].idxmin(axis=1)

term_results

Metric,Term,Metric,Chr.B.B,Chr.B.S,Chr.B.M,Chr.B.T,T.FM1,T.FM2,Moi.S,Moi.B,Moi.L,Moi.M.S,Best
0,long,MASE,2.568424,2.471569,2.922420,2.984658,1107.550333,1.710321,2.506401,3.079133,2.937607,NaN,T.FM2
1,long,Qloss,0.371390,0.378322,0.385969,0.399802,427.577050,0.431292,0.427611,0.430307,0.438458,NaN,Chr.B.B
2,long,Rank,4.150000,5.750000,6.700000,7.800000,14.250000,6.300000,7.550000,8.450000,7.550000,NaN,Chr.B.B
3,medium,MASE,2.486340,2.414703,2.703918,2.797745,835.607148,1.565683,2.545083,3.061386,2.980236,NaN,T.FM2
4,medium,Qloss,0.317459,0.349865,0.338989,0.342546,205.659694,0.385105,0.389141,0.392947,0.402618,NaN,Chr.B.B
5,medium,Rank,4.400000,5.500000,5.650000,6.750000,14.400000,7.250000,8.050000,8.100000,8.550000,NaN,Chr.B.B
6,short,MASE,1.641117,1.610520,1.816291,1.856440,570.571504,1.325511,1.726982,1.744489,1.623207,2.267648,T.FM2
7,short,Qloss,0.267093,0.252842,0.261587,0.257248,189.412663,0.298924,0.321989,0.300455,0.298456,1.059272,Chr.B.S
8,short,Rank,4.433333,4.433333,5.733333,6.066667,14.300000,6.500000,10.400000,8.566667,7.933333,13.333333,Chr.B.B

In [ ]:
frequency_results = final_df.groupby(["Frequency", "Metric"]).agg({
    "Chr.B.B": "mean",
    "Chr.B.S": "mean",
    "Chr.B.M": "mean",
    "Chr.B.T": "mean",
    "T.FM1": "mean",
    "T.FM2": "mean",
    "Moi.S": "mean",
    "Moi.B": "mean",
    "Moi.L": "mean",
    "Moi.M.S": "mean",
}).reset_index()
frequency_results["Frequency"] = frequency_results["Frequency"].map({
    "10S": "10 seconds",
    "5T": "5 minutes",
    "10T": "10 minute",
    "H": "1 hour",
    "D": "1 day",
    "W": "1 week",
})
# sort by frequency
frequency_results = frequency_results.sort_values(by=["Frequency", "Metric"])

frequency_results["Best"] = frequency_results[["Chr.B.B", "Chr.B.S", "Chr.B.M", "Chr.B.T", "T.FM1", "T.FM2",
    "Moi.S", "Moi.B", "Moi.L", "Moi.M.S",]].idxmin(axis=1)

frequency_results

Metric,Frequency,Metric,Chr.B.B,Chr.B.S,Chr.B.M,Chr.B.T,T.FM1,T.FM2,Moi.S,Moi.B,Moi.L,Moi.M.S,Best
9,1 day,MASE,1.016458,1.011439,1.007155,1.008487,51.140927,1.106763,1.186114,1.109913,1.162533,NaN,Chr.B.M
10,1 day,Qloss,0.166183,0.166360,0.163197,0.164470,5.631724,0.167940,0.179874,0.172657,0.180034,NaN,Chr.B.M
11,1 day,Rank,5.000000,5.250000,4.000000,3.750000,13.500000,5.750000,11.000000,8.750000,10.500000,NaN,Chr.B.T
12,1 hour,MASE,1.230735,1.243955,1.242433,1.266969,370.939218,1.458300,1.532419,1.511753,1.473172,2.306126,Chr.B.B
13,1 hour,Qloss,0.304430,0.290577,0.286801,0.289601,184.632643,0.409819,0.395067,0.404578,0.392543,1.177962,Chr.B.M
14,1 hour,Rank,3.681818,4.590909,4.636364,5.000000,14.590909,9.090909,9.772727,9.545455,8.227273,13.166667,Chr.B.B
15,1 week,MASE,0.979691,0.990633,0.993680,0.952312,1.791770,1.282103,1.560787,1.649869,1.473243,NaN,Chr.B.T
16,1 week,Qloss,0.132579,0.136405,0.135327,0.132001,0.306911,0.171318,0.208386,0.227305,0.204629,NaN,Chr.B.T
17,1 week,Rank,3.000000,5.000000,5.500000,1.500000,13.500000,7.500000,10.500000,12.000000,9.000000,NaN,Chr.B.T
3,10 minute,MASE,0.776758,0.811577,0.812932,0.848411,1915.283466,0.717685,1.270875,1.168305,1.195656,2.514855,T.FM2
4,10 minute,Qloss,0.257333,0.267990,0.271274,0.284366,837.144209,0.316485,0.473792,0.447082,0.445499,1.450632,Chr.B.B
5,10 minute,Rank,3.166667,4.833333,4.333333,6.500000,14.250000,4.500000,10.333333,10.250000,10.083333,13.500000,Chr.B.B
0,10 seconds,MASE,6.545707,6.085683,7.824120,8.092802,1354.002554,2.245648,5.380567,7.504966,6.892339,NaN,T.FM2
1,10 seconds,Qloss,0.087267,0.069819,0.113045,0.105461,23.794736,0.036572,0.078526,0.070268,0.096611,NaN,T.FM2
2,10 seconds,Rank,7.333333,4.916667,10.250000,11.083333,13.500000,1.500000,4.500000,6.916667,7.500000,NaN,T.FM2
6,5 minutes,MASE,1.630990,1.659994,1.667854,1.679711,465.558470,1.702864,1.746811,1.670436,1.666152,2.086327,Chr.B.B
7,5 minutes,Qloss,0.557067,0.598020,0.583437,0.588519,218.377142,0.612698,0.529953,0.512477,0.528030,0.685558,Moi.B
8,5 minutes,Rank,3.944444,6.055556,6.388889,7.444444,14.833333,8.666667,9.222222,6.277778,6.000000,13.500000,Chr.B.B

In [ ]:
print(domain_results.to_latex(index=False, float_format="%.3f"))

\begin{tabular}{llrrrrrrrrrrl}
\toprule
Domain & Metric & Chr.B.B & Chr.B.S & Chr.B.M & Chr.B.T & T.FM1 & T.FM2 & Moi.S & Moi.B & Moi.L & Moi.M.S & Best \\
\midrule
Energy & MASE & 0.978 & 0.990 & 0.992 & 1.002 & 1398.551 & 1.162 & 1.496 & 1.348 & 1.339 & 2.922 & Chr.B.B \\
Energy & Qloss & 0.360 & 0.363 & 0.365 & 0.367 & 625.109 & 0.443 & 0.554 & 0.511 & 0.503 & 1.409 & Chr.B.B \\
Energy & Rank & 4.375 & 4.938 & 4.062 & 3.875 & 14.625 & 8.125 & 11.250 & 8.938 & 8.438 & 13.500 & Chr.B.T \\
Weather & MASE & 0.705 & 0.717 & 0.714 & 0.742 & 191.514 & 0.600 & 0.807 & 0.814 & 0.813 & NaN & T.FM2 \\
Weather & Qloss & 0.051 & 0.054 & 0.054 & 0.057 & 21.261 & 0.045 & 0.061 & 0.063 & 0.063 & NaN & T.FM2 \\
Weather & Rank & 3.143 & 5.071 & 5.143 & 6.571 & 13.500 & 4.929 & 9.357 & 10.500 & 9.286 & NaN & Chr.B.B \\
Web/CloudOps & MASE & 3.120 & 3.004 & 3.528 & 3.623 & 773.057 & 1.957 & 2.940 & 3.555 & 3.356 & 1.941 & Moi.M.S \\
Web/CloudOps & Qloss & 0.383 & 0.390 & 0.394 & 0.397 & 201.193 & 0.439 & 0.407 & 0.410 & 0.421 & 0.884 & Chr.B.B \\
Web/CloudOps & Rank & 4.750 & 5.200 & 7.050 & 7.975 & 14.475 & 6.675 & 7.825 & 7.450 & 7.375 & 13.250 & Chr.B.B \\
\bottomrule
\end{tabular}

In [ ]:
print(term_results.to_latex(index=False, float_format="%.3f"))

\begin{tabular}{llrrrrrrrrrrl}
\toprule
Term & Metric & Chr.B.B & Chr.B.S & Chr.B.M & Chr.B.T & T.FM1 & T.FM2 & Moi.S & Moi.B & Moi.L & Moi.M.S & Best \\
\midrule
long & MASE & 2.568 & 2.472 & 2.922 & 2.985 & 1107.550 & 1.710 & 2.506 & 3.079 & 2.938 & NaN & T.FM2 \\
long & Qloss & 0.371 & 0.378 & 0.386 & 0.400 & 427.577 & 0.431 & 0.428 & 0.430 & 0.438 & NaN & Chr.B.B \\
long & Rank & 4.150 & 5.750 & 6.700 & 7.800 & 14.250 & 6.300 & 7.550 & 8.450 & 7.550 & NaN & Chr.B.B \\
medium & MASE & 2.486 & 2.415 & 2.704 & 2.798 & 835.607 & 1.566 & 2.545 & 3.061 & 2.980 & NaN & T.FM2 \\
medium & Qloss & 0.317 & 0.350 & 0.339 & 0.343 & 205.660 & 0.385 & 0.389 & 0.393 & 0.403 & NaN & Chr.B.B \\
medium & Rank & 4.400 & 5.500 & 5.650 & 6.750 & 14.400 & 7.250 & 8.050 & 8.100 & 8.550 & NaN & Chr.B.B \\
short & MASE & 1.641 & 1.611 & 1.816 & 1.856 & 570.572 & 1.326 & 1.727 & 1.744 & 1.623 & 2.268 & T.FM2 \\
short & Qloss & 0.267 & 0.253 & 0.262 & 0.257 & 189.413 & 0.299 & 0.322 & 0.300 & 0.298 & 1.059 & Chr.B.S \\
short & Rank & 4.433 & 4.433 & 5.733 & 6.067 & 14.300 & 6.500 & 10.400 & 8.567 & 7.933 & 13.333 & Chr.B.B \\
\bottomrule
\end{tabular}

In [ ]:
print(frequency_results.to_latex(index=False, float_format="%.3f"))

\begin{tabular}{llrrrrrrrrrrl}
\toprule
Frequency & Metric & Chr.B.B & Chr.B.S & Chr.B.M & Chr.B.T & T.FM1 & T.FM2 & Moi.S & Moi.B & Moi.L & Moi.M.S & Best \\
\midrule
1 day & MASE & 1.016 & 1.011 & 1.007 & 1.008 & 51.141 & 1.107 & 1.186 & 1.110 & 1.163 & NaN & Chr.B.M \\
1 day & Qloss & 0.166 & 0.166 & 0.163 & 0.164 & 5.632 & 0.168 & 0.180 & 0.173 & 0.180 & NaN & Chr.B.M \\
1 day & Rank & 5.000 & 5.250 & 4.000 & 3.750 & 13.500 & 5.750 & 11.000 & 8.750 & 10.500 & NaN & Chr.B.T \\
1 hour & MASE & 1.231 & 1.244 & 1.242 & 1.267 & 370.939 & 1.458 & 1.532 & 1.512 & 1.473 & 2.306 & Chr.B.B \\
1 hour & Qloss & 0.304 & 0.291 & 0.287 & 0.290 & 184.633 & 0.410 & 0.395 & 0.405 & 0.393 & 1.178 & Chr.B.M \\
1 hour & Rank & 3.682 & 4.591 & 4.636 & 5.000 & 14.591 & 9.091 & 9.773 & 9.545 & 8.227 & 13.167 & Chr.B.B \\
1 week & MASE & 0.980 & 0.991 & 0.994 & 0.952 & 1.792 & 1.282 & 1.561 & 1.650 & 1.473 & NaN & Chr.B.T \\
1 week & Qloss & 0.133 & 0.136 & 0.135 & 0.132 & 0.307 & 0.171 & 0.208 & 0.227 & 0.205 & NaN & Chr.B.T \\
1 week & Rank & 3.000 & 5.000 & 5.500 & 1.500 & 13.500 & 7.500 & 10.500 & 12.000 & 9.000 & NaN & Chr.B.T \\
10 minute & MASE & 0.777 & 0.812 & 0.813 & 0.848 & 1915.283 & 0.718 & 1.271 & 1.168 & 1.196 & 2.515 & T.FM2 \\
10 minute & Qloss & 0.257 & 0.268 & 0.271 & 0.284 & 837.144 & 0.316 & 0.474 & 0.447 & 0.445 & 1.451 & Chr.B.B \\
10 minute & Rank & 3.167 & 4.833 & 4.333 & 6.500 & 14.250 & 4.500 & 10.333 & 10.250 & 10.083 & 13.500 & Chr.B.B \\
10 seconds & MASE & 6.546 & 6.086 & 7.824 & 8.093 & 1354.003 & 2.246 & 5.381 & 7.505 & 6.892 & NaN & T.FM2 \\
10 seconds & Qloss & 0.087 & 0.070 & 0.113 & 0.105 & 23.795 & 0.037 & 0.079 & 0.070 & 0.097 & NaN & T.FM2 \\
10 seconds & Rank & 7.333 & 4.917 & 10.250 & 11.083 & 13.500 & 1.500 & 4.500 & 6.917 & 7.500 & NaN & T.FM2 \\
5 minutes & MASE & 1.631 & 1.660 & 1.668 & 1.680 & 465.558 & 1.703 & 1.747 & 1.670 & 1.666 & 2.086 & Chr.B.B \\
5 minutes & Qloss & 0.557 & 0.598 & 0.583 & 0.589 & 218.377 & 0.613 & 0.530 & 0.512 & 0.528 & 0.686 & Moi.B \\
5 minutes & Rank & 3.944 & 6.056 & 6.389 & 7.444 & 14.833 & 8.667 & 9.222 & 6.278 & 6.000 & 13.500 & Chr.B.B \\
\bottomrule
\end{tabular}